@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --primary-color: hsl(280, 75%, 79%);
  --body-background-color: #f8f9fd;
  --font-color: hsl(235, 27%, 33%);
  --primary-background-color: #490e67;
  --accent-section-font-color: hsl(0, 0%, 100%);
  --logo-primary-color: hsl(0, 0%, 100%);
  --content-color: hsl(221, 19%, 53%);
  --link-color: #001bc0;
  --footer-background-color: #fff;
  --social-link-color: #383c6b;
  --footer-link-color: #383c6b;
  --footer-title-color: #3d3f54;
  --main-nav-link-color: #fff;
  --main-nav-link-color-active: #ab3ae4;
  --main-nav-link-color-hover: #c881ec;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--body-background-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem;
  z-index: 10;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: transparent;
  width: 1920px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header--scrolled {
  background-color: var(--primary-background-color);
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-width: 1024px) {
  .header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 900;
}

.logo__link {
  color: var(--logo-primary-color);
  text-decoration: none;
}

.logo__accent {
  color: var(--primary-color);
  margin-left: 0.5rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.logo:hover .logo__accent, .logo:focus .logo__accent {
  color: var(--logo-primary-color);
  text-decoration: underline;
}

.toggle-mobile-nav-button {
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .toggle-mobile-nav-button {
    display: none;
  }
}

.main-nav {
  display: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-nav a {
  color: var(--main-nav-link-color);
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.main-nav a:hover, .main-nav a:focus {
  color: var(--main-nav-link-hover);
}

.main-nav a.active {
  color: var(--main-nav-link-color-active);
}

.main-nav li:not(:last-of-type) {
  margin-right: 1rem;
}

.log-in-button {
  display: none;
  border: 1px solid #fff;
  border-radius: 4px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-size: 14px;
  color: #001bc0;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

@media only screen and (min-width: 520px) {
  .log-in-button {
    display: inline-block;
  }
}

.log-in-button:hover, .log-in-button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.log-in-button span {
  position: relative;
  top: 3px;
  display: none;
}

.log-in-button img {
  width: 24px;
  height: 24px;
}

.log-in-button + button {
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .log-in-button + button {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .log-in-button + button {
    margin-right: 3rem;
  }
}

.top {
  background-color: var(--primary-background-color);
  padding: 10rem 3rem 3rem 3rem;
  color: var(--accent-section-font-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.top__shapes {
  position: absolute;
  width: 75vw;
  left: 0;
  top: 0;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
  z-index: 1;
  max-width: 500px;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .top__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1132px;
    max-width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .top__content {
    padding: 5rem;
  }
}

.top__image {
  display: block;
  margin: 4rem auto 0;
  max-width: 100%;
}

.top__title {
  font-size: 4.3rem;
  line-height: 5.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.top__slogan {
  font-size: 2.1rem;
  font-weight: 300;
}

.section {
  padding: 3.5rem;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 5rem;
  }
}

.section__title {
  font-size: 3.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.section__paragraph {
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--content-color);
  text-align: center;
}

.why {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.why::after {
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D0D2E1;
  display: block;
}

@media only screen and (min-width: 768px) {
  .why::after {
    left: 5%;
    right: 5%;
  }
}

.why__section {
  width: 100%;
  position: relative;
}

.why__section:first-child {
  background: url("./assets/images/why-section-background.svg") bottom right 5rem no-repeat;
}

@media only screen and (min-width: 1024px) {
  .why__title {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .why__title, .why__paragraph {
    text-align: left;
    width: 80%;
  }
}

.why__grid {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .why__grid {
    display: block;
    position: absolute;
    right: 8rem;
    bottom: 1rem;
    -webkit-animation: rotating 15s linear infinite;
            animation: rotating 15s linear infinite;
  }
}

.why-list {
  margin-top: 5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .why-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .why-list__item:nth-child(2) {
    left: 75px;
  }
}

.why-list__item > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .why-list__item > span {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.why-list__item-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.why-list__image {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .why-list__image {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}

.service__title {
  text-align: center;
}

.service__paragraph {
  text-align: center;
}

.service__image {
  max-width: 340px;
  margin-bottom: 1rem;
}

.serice-item__title {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.serice-item__link {
  position: relative;
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 1rem;
}

.serice-item__link::after {
  content: "";
  display: block;
  width: 24px;
  height: 15px;
  position: absolute;
  right: -6px;
  top: 4px;
  background: url("./assets/images/arrow.svg") center no-repeat;
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.serice-item__link:hover::after {
  opacity: 0;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.footer {
  background-color: var(--footer-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.footer__logo {
  max-width: 147px;
}

.footer__title {
  color: var(--footer-title-color);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.footer ul {
  list-style: none;
  margin-bottom: 3rem;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul a {
  font-size: 1.6rem;
  color: var(--footer-link-color);
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.footer ul a:hover, .footer ul a:focus {
  opacity: 1;
  text-decoration: underline;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.social__item {
  margin-right: 0.8rem;
}

.social__link {
  color: var(--social-link-color);
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.social__link:hover, .social__link:focus {
  opacity: 1;
}

.social__image {
  width: 20px;
  max-height: 20px;
}

.ocean {
  position: relative;
  margin-top: -50px;
  margin-bottom: 250px;
}

.ocean .wave {
  background: url("./assets/images/first-wave.svg") repeat-x;
  position: absolute;
  top: 0;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.ocean .wave:nth-of-type(2) {
  top: -10px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.ocean .wave:nth-of-type(3) {
  background: url("./assets/images/top.svg") repeat-x;
  top: 0px;
  -webkit-animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg) scale(0.8);
            transform: rotate(0deg) scale(0.8);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg) scale(0.8);
            transform: rotate(0deg) scale(0.8);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */