@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$bp-small: 520px;
$bp-medium: 768px;
$bp-desktop: 1024px;
$bp-wide: 1440px;

@mixin res($breakpoint) {
  @if $breakpoint == wide {
    @media only screen and (min-width: $bp-wide) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $bp-desktop) {
      @content;
    }
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: $bp-medium) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (min-width: $bp-small) {
      @content;
    }
  }
}

@mixin mw() {
  width: 1111px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin fade-in($waitTime) {
  animation: wait #{$waitTime},
  fadeIn 800ms #{$waitTime};
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #831bea;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --primary-color: hsl(280, 75%, 79%);
  --body-background-color: #f8f9fd;
  --font-color: hsl(235, 27%, 33%);
  --primary-background-color: #490e67;
  --accent-section-font-color: hsl(0, 0%, 100%);
  --logo-primary-color: hsl(0, 0%, 100%);
  --content-color: hsl(221, 19%, 53%);
  --link-color: #001bc0;
  --footer-background-color: #fff;
  --social-link-color: #383c6b;
  --footer-link-color: #383c6b;
  --footer-title-color: #3d3f54;
  --main-nav-link-color: #fff;
  --main-nav-link-color-active: #ab3ae4;
  --main-nav-link-color-hover: #c881ec;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--body-background-color);

  &.blocked {
    overflow: hidden;
  }

  //max-width: 100vw;
  //overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.5s ease;
    background-color: transparent;

    @include mw();
  }

  &--scrolled {
    background-color: var(--primary-background-color);
  }

  nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;

    @include res(desktop) {
      justify-content: space-between;
    }
  }
}

.logo {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 900;

  &__link {
    color: var(--logo-primary-color);
    text-decoration: none;
  }

  &__accent {
    color: var(--primary-color);
    margin-left: 0.5rem;
    transition: color 0.2s ease;
  }

  &:hover,
  &:focus {
    .logo__accent {
      color: var(--logo-primary-color);
      text-decoration: underline;
    }
  }
}

.toggle-mobile-nav-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;

  .close,
  .open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }

  .close {
    opacity: 0;
  }

  &.active {
    .close {
      opacity: 1;
    }

    .open {
      opacity: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  img {
    width: 24px;
  }
}

.main-nav {
  display: none;
  list-style: none;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  a {
    color: var(--main-nav-link-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: #831bea;
    }

    &.active {
      color: var(--main-nav-link-color-active);
    }
  }

  li {
    &:not(:last-of-type) {
      margin-right: 1rem;

      @include res(tab) {
        margin-right: 2.5rem;
      }

      @include res(desktop) {
        margin-right: 4rem;
      }

      @include res(wide) {
        margin-right: 5.5rem;
      }
    }
  }
}

.log-in-button {
  border-radius: 4px;
  height: 24px;
  display: none;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 14px;
  color: #001bc0;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    animation: fadeIn 1s infinite alternate;
  }

  @include res(phone) {
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &:hover,
  &:focus {

  }

  span {
    position: relative;
    display: none;
    font-weight: 700;

    @include res(tab) {
      display: block;
    }
  }

  img {
    width: 24px;
    height: 24px;

    @include res(tab) {
      display: none;
    }
  }

  + button {
    margin-left: 1rem;

    @include res(tab) {
      margin-left: 2rem;
    }

    @include res(wide) {
      margin-right: 3rem;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  padding: 1rem;
  //background-color: var(--primary-background-color);
  background-image: linear-gradient(to bottom, #490e67, #2a0040);
  place-items: center;
  z-index: 99;
  transition: clip-path 0.6s ease-in-out;
  clip-path: circle(34px at 50% 34px);

  &.active {
    clip-path: circle(700px);
    opacity: 1;

    li {
      opacity: 0;
      animation: fadeIn 0.5s ease-in;
      animation-fill-mode: forwards;

      &:nth-child(1) {
        animation-delay: 200ms;
      }

      &:nth-child(2) {
        animation-delay: 300ms;
      }

      &:nth-child(3) {
        animation-delay: 400ms;
      }

      &:nth-child(4) {
        animation-delay: 500ms;
      }

      &:nth-child(5) {
        animation-delay: 600ms;
      }
    }
  }
}

.mobile-nav-list {
  list-style: none;

  li {
    margin-bottom: 0.8rem;
  }

  a {
    color: #fff;
    font-size: 2.4rem;
    text-decoration: none;
    padding: 2rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.top {
  background-color: var(--primary-background-color);
  padding: 10rem 3rem 3rem 3rem;
  color: var(--accent-section-font-color);
  display: flex;
  position: relative;
  z-index: 3;
  max-width: 100vw;
  overflow: hidden;

  &__shapes {
    position: absolute;
    width: 75vw;
    left: -30%;
    top: -30%;
    z-index: 1;
    max-width: 500px;
    animation: rotate 50s infinite;

    @include res(tab) {
      left: -10%;
      top: -10%;
    }
  }

  &__bubbles {
    position: absolute;
    top: 30%;
    right: -10%;
    animation: scale 12s alternate;

    @include res(tab) {
      right: -5%
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    @include res(tab) {
      flex-direction: row;
      align-items: center;
      width: 1132px;
      max-width: 100%;
      margin: auto;
    }

    @include res(desktop) {
      padding: 5rem;
    }
  }

  &__image {
    display: block;
    margin: 4rem auto 0;
    max-width: 100%;

    @include res(tab) {
      margin-top: 0;
      margin-left: 3rem;
      min-width: 410px;
    }
  }

  #rocket {
    animation: bounce 1.5s infinite
  }

  #flames {
    animation: bounce2 2s infinite
  }

  &__title {
    font-size: 4.3rem;
    line-height: 5.1rem;
    font-weight: 300;
    margin-bottom: 1rem;

    @include res(desktop) {
      font-size: 5.5rem;
      line-height: 6.5rem;
    }
  }

  &__slogan {
    font-size: 2.1rem;
    font-weight: 300;
  }
}

.section {
  padding: 3.5rem;

  @include res(tab) {
    padding: 5rem;
  }

  @include res(desktop) {
    padding: 7rem 5rem;
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;

    &--on-accent-section {
      color: #fff;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 3rem;
    color: var(--content-color);
    text-align: center;

    &--on-accent-section {
      color: #fff;
    }
  }
}

.why {
  position: relative;
  @include mw;
  @include res(desktop) {
    display: flex;
  }

  &::after {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d2e1;
    display: block;

    @include res(tab) {
      left: 5%;
      right: 5%;
    }
  }

  &__section {
    width: 100%;
    position: relative;

    &:first-child {
      background: url("../images/why-section-background.svg") bottom right 5rem no-repeat;

      @include res(desktop) {
        padding-top: 8rem;
      }
    }
  }

  &__title {
    @include res(desktop) {
      margin-bottom: 4rem;
    }
  }

  &__title,
  &__paragraph {
    @include res(desktop) {
      text-align: left;
      width: 80%;
    }
  }

  &__grid {
    display: none;

    @include res(desktop) {
      display: block;
      position: absolute;
      right: 8rem;
      bottom: 1rem;
      animation: rotating 15s linear infinite;
    }
  }
}

.why-list {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;

    @include res(tab) {
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      max-width: 520px;
      margin-bottom: 4rem;
    }

    &:nth-child(2) {
      @include res(desktop) {
        left: 7.5rem;
      }
    }

    > span {
      display: flex;
      flex-direction: column;

      @include res(tab) {
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    @include res(desktop) {
      display: block;
    }

    &--top {
      transform: translate(-120%, -50%);
    }

    &--bottom {
      transform: translate(-90%, 90%);
    }
  }

  &__item-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__image {
    margin-bottom: 2.5rem;

    @include res(tab) {
      margin-bottom: 0;
      margin-right: 3rem;
    }
  }
}

.service {
  background-size: cover;

  @include res(tab) {
    background: url("../images/service-background.svg") bottom right -100px no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
  }

  @include res(desktop) {
    padding-bottom: 15rem;
  }

  &__header {
    width: 446px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }

  &__title {
    text-align: center;

    @include res(tab) {
      margin-bottom: 3rem;
    }
  }

  &__paragraph {
    text-align: center;
  }

  &__image {
    max-width: 340px;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    width: 883px;
    max-width: 100%;
    margin: auto;
  }

  &__list {
    display: none;

    @include res(tab) {
      display: block;
    }
  }
}

.service-item {
  @include res(tab) {
    width: 446px;
    max-width: 100%;
    margin-left: auto;
  }

  &__image {
    display: block;
    margin: 0 auto 3rem;
    max-width: 100%;
    height: auto;
  }

  &__title {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;

    @include res(tab) {
      text-align: left;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &__link {
    position: relative;
    color: var(--link-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1rem;

    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 15px;
      position: absolute;
      right: -6px;
      top: 4px;
      background: url("../images/arrow.svg") center no-repeat;
      transform: translateX(28px);
      opacity: 1;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    &:hover::after {
      opacity: 0;
      transform: translateX(60px);
    }
  }
}

.service-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 255px;

  &__item {
    margin-bottom: 1.5rem;
  }

  &__link {
    text-decoration: none;
    font-size: 2.4rem;
    color: #3d3f54;
    padding: 1.5rem 2.4rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: #fff;
      color: #001bc0;
      box-shadow: 0 8px 23px rgba(127, 154, 180, 0.5);
    }
  }
}

.footer {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 4rem;
  padding-top: 8rem;
  background: url("../images/footer-bg.svg") top center no-repeat;
  background-size: cover;

  @include res(phone) {
    margin-top: 6rem;
    padding-top: 17rem;
  }

  @include res(tab) {
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__content {
    @include mw;
    display: flex;
    flex-direction: column;

    @include res(tab) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__section {
    &:nth-child(1),
    &:nth-child(4) {
      flex-grow: 2;
    }

    &:nth-child(2),
    &:nth-child(3) {
      flex-grow: 1;
    }
  }

  &__logo {
    max-width: 147px;
    margin-bottom: 2.5rem;
  }

  &__title {
    color: var(--footer-title-color);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  ul {
    list-style: none;
    margin-bottom: 3rem;

    li {
      margin-bottom: 0.5rem;
    }

    a {
      font-size: 1.6rem;
      color: var(--footer-link-color);
      text-decoration: none;
      opacity: 0.5;
      display: inline-block;
      transition: opacity 0.2s ease-in-out;
      padding-left: 1.2rem;
      position: relative;

      &::after {
        display: block;
        content: '';
        position: absolute;
        background-color: var(--footer-link-color);
        top: 0;
        transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
        bottom: 0;
        left: 0;
        width: 0;
        opacity: 0;
      }

      &:hover,
      &:focus {
        opacity: 1;
        border-left-width: 0.5rem;

        &::after {
          width: 0.5rem;
          opacity: 1;
        }
      }
    }
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__item {
    margin-right: 0.8rem;
  }

  &__link {
    color: var(--social-link-color);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__image {
    width: 20px;
    max-height: 20px;
  }
}

.ocean {
  position: relative;
  margin-top: -5rem;
  min-height: 21rem;
  overflow-x: hidden;
  margin-bottom: 2.5rem;

  .wave {
    background: url("../images/first-wave.svg") repeat-x;
    position: absolute;
    top: 0;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave:nth-of-type(2) {
    top: -10px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
    opacity: 1;
  }

  .wave:nth-of-type(3) {
    background: url("../images/top.svg") repeat-x;
    top: 0;
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
    opacity: 1;
  }
}

@import './price-table';
@import './testimonials';

.copyright {
  a {
    color: var(--footer-link-color);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: underline;
    }
  }

  span {
    text-transform: capitalize;
  }
}


@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg) scale(0.8);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes bounce2 {
  0% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(0px, -6px, 0);
    opacity: 1;
  }
  60% {
    opacity: 0;
    transform: translate3d(0px, 0px, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes scale {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(0.6)
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
